.close:global(.rs-btn) {
    position: fixed;
    right: 13px;
    top: 13px;
    width: 24px;
    height: 24px;
    background-color: red;
    color: white;
    font-size: 20px;
    line-height: 1;
    padding: 0 4px 4px;
    border-radius: 2px;
    z-index: 999;
}